body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

nav {
    background-color: #172529;
    padding: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 30px;
}
